//.pub-tag {
//  display: inline-block;
//  margin-left: 6px;
//  padding: 2px 6px;
//  font-size: 0.75em;
//  font-weight: bold;
//  color: #fff;
//  background-color: #007acc;
//  border-radius: 4px;
//}
.pub-tag {
  display: inline-block !important;
  margin-left: 6px !important;
  padding: 2px 6px !important;
  font-size: 0.75em !important;
  font-weight: bold !important;
  color: #fff !important;
  background-color: #007acc !important;
  border-radius: 4px !important;
}

